table{
  width: 100%;
  margin-top: 30px;
}
table, th, td {
border: 1px solid transparent;
text-align: center;
border-collapse: collapse ;
padding: 10px;

}
table th{
  background-color: #04AA6D;
  color: #f2f2f2;
}

table tr:nth-child(even){background-color: #f2f2f2;}

form{
  text-align: center;
}

.input-field{
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}



.lable{
  float: left;

}

.div-section{
  
  padding-top: 50px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  width: 30%;
  height: 180px;
 background-color: #f2f2f2;
}
button{
  background-color: #04AA6D;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  margin-top: 10px;
}


