.chat-container {
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: cursive;
}

.chat-window {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message-text {
  padding: 10px;
  font-family:cursive;
  border-radius: 10px;
  max-width: 70%;
}

.message-text-user {
  padding: 10px;
  display: flex;

  border-radius: 10px;
  max-width: auto;
}



.message-user {
  background-color: #cccccc;
  align-self: flex-end;
  display: flex;
  text-align: end;
  justify-content: flex-end;


}

.message-bot {
  background-color: #002f50;
  color: #fff;

}

.chat-input {
  width: 95%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

.chat-submit {
  width: 100%;
  background-color: #002f50;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

